.formulario {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.formulario form {
  max-width: 80%;
  background: rgb(252, 255, 244);
  background: -moz-linear-gradient(45deg, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 28%, rgba(179, 190, 173, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 28%, rgba(179, 190, 173, 1) 100%);
  background: linear-gradient(45deg, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 28%, rgba(179, 190, 173, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=1);
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.50);
}